body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
}

.logo{
    font-size:3rem;
    font-weight: bold;
    text-align: center;
    display:block;
    text-decoration: none;
    color:rgb(255, 123, 0);
    font-weight: bold;
}
span{
    color:black
}
header{
    margin-top:50px;
    position:absolute;
    left:25%;
    display:flex;
    justify-content: space-between;
    background:rgb(223, 223, 223);
    border-radius: 4em;
    width:500px;
    box-shadow: 0px 2px 0px 1px rgba(187, 187, 187, 0.705);
}
ul{
    list-style-type: none;
}
ul li{
    display:inline-block;
}
ul li a{
    padding: 20px;
    text-decoration:none;
    color:rgb(77, 77, 77);
}
ul li a:hover{
    color:rgb(255, 123, 0);
}
.input{
    width:200px;
    height:30px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-bottom: 30px;

}
.input:focus-within{
    border-color:rgb(34, 34, 165);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

}
.input-label{
    font-weight:bold;
}
.login{
    display: flex;
    overflow:hidden;
}
.login-img{
    width:150%;
    height:99vh;   
}
.inputs{
    margin-left:268px
}
.btn{
    width:100px;
    height:50px;
    background: rgb(0, 0, 0);
    color: aliceblue;
    border:none;
    border-radius:10px;
    cursor:pointer
}
.btn:hover{
    text-decoration:underline
}
.reg{
    margin-left:258px;
    width:150%;
}
section{
    margin-top:10em;
    padding:1.5em;
    margin-left:100px
}
.reglink{
    color:black;
}
.card{
    width:152px;
    height:350px;
    background:rgb(223, 223, 223);
    float:left;
    margin:20px;
    cursor:pointer;
    border-radius:5px;
    box-shadow: 5px 5px rgba(187, 187, 187, 0.705);
}
.card-img{
    width:150px;
    overflow: hidden;
    object-fit: contain;
    z-index:-1;
    border-radius:5px;
}
.prize{
    margin-top:-15px;
}
.buy-btn{
    background:black;
    color:white;
    height:30px;
    cursor:pointer;
    border-radius:5px;
}
.buy-btn:hover{
    color:rgb(255, 123, 0);
}

.icons{
    width:20px;
    margin-left: 80%;
    margin-top: -50px;

}
.footer-1{
    margin-top:100px;
    box-shadow: 5px 5px rgba(187, 187, 187, 0.705);
    background:rgb(199, 178, 178);
    height:100px;
}
.footer-2{
    margin-top:277px;
    box-shadow: 5px 5px rgba(187, 187, 187, 0.705);
    background:rgb(199, 178, 178);
    height:100px;
}
.footer-text{
    text-align:center
}


@media only screen and (max-width:720px){
    header{
        left:10%;
    }
    .footer-1 .footer-2{
        display:none
    }
}
@media only screen and (max-width:820px){
    header{
        left:20%;
    }
    .footer-1 .footer-2{
        display:none
    }
}
@media only screen and (max-width:500px){
    header{
        left:0%;
    }
    .footer-1 .footer-2{
        display:none
    }
}